//
// * Typography
//

$ff-primary: "Poppins", sans-serif;
$ff-secondary: "Inter", sans-serif;

@mixin f-display-1 {
  font-family: $ff-primary;
  font-weight: 200;
  font-size: 48px;
}

@mixin f-display-2 {
  font-family: $ff-primary;
  font-weight: 200;
  font-size: 40px;
}

@mixin f-heading-1 {
  font-family: $ff-primary;
  font-weight: 700;
  font-size: 44px;
}

@mixin f-heading-2 {
  font-family: $ff-primary;
  font-weight: 700;
  font-size: 36px;
}

@mixin f-heading-3 {
  font-family: $ff-primary;
  font-weight: 700;
  font-size: 28px;
}

@mixin f-heading-4 {
  font-family: $ff-primary;
  font-weight: 700;
  font-size: 24px;
}

@mixin f-heading-5 {
  font-family: $ff-primary;
  font-weight: 700;
  font-size: 20px;
}

@mixin f-heading-6 {
  font-family: $ff-primary;
  font-weight: 700;
  font-size: 16px;
}

@mixin f-lead-paragraph {
  font-family: $ff-secondary;
  font-weight: 400;
  font-size: 22px;
}

@mixin f-body-large($weight: 400) {
  font-family: $ff-secondary;
  font-weight: $weight;
  font-size: 20px;
}

@mixin f-body-medium($weight: 400) {
  font-family: $ff-secondary;
  font-weight: $weight;
  font-size: 18px;
}

@mixin f-body-normal($weight: 400) {
  font-family: $ff-secondary;
  font-weight: $weight;
  font-size: 16px;
}

@mixin f-body-small($weight: 400) {
  font-family: $ff-secondary;
  font-weight: $weight;
  font-size: 14px;
}

//
//* Colors
//
// primary colors
$clr-pri-dark: #3b2f4a;
$clr-pri-light: #6a5c7c;
$clr-pri-subtle: #9280a8;
$clr-pri-bg-light: #fdf8fe;
// secondary colors
$clr-sec-pink-dark: #d9176c;
$clr-sec-pink-light: #ff70af;
$clr-sec-pink-subtle: #ffb9d8;

$clr-sec-yellow-dark: #eaa451;
$clr-sec-yellow-light: #ffc785;
$clr-sec-yellow-subtle: #ffe0ba;
// complimentary colors
$clr-black: #000000;
$clr-gray-dark: #a4a4a4;
$clr-gray-light: #c4c4c4;
$clr-white: #ffffff;

//
// * Breakpoints
//

$br-mobile: 550px;

//
// * padding-inline
//

$p-mobile: 30px;
$p-desktop: 100px;
